# Run one GLES 2 test to check the version and renderer
[[deqp]]
deqp = "/data/deqp/deqp-gles2"
caselists = ["/data/deqp/gles2-main.txt"]
include = [ "dEQP-GLES2.info.renderer" ]
deqp_args = [
    "--deqp-surface-width=256",
    "--deqp-surface-height=256",
    "--deqp-surface-type=pbuffer",
    "--deqp-gl-config-name=rgba8888d24s8ms0",
    "--deqp-visibility=hidden"
]
version_check = "GL ES 3.1.*ANGLE 2.1.1 git"
renderer_check = "ANGLE.*llvmpipe"

# AHB test set
[[deqp]]
deqp = "/data/deqp/deqp-vk"
caselists = ["/data/deqp/vk-main.txt"]
include = ["dEQP-VK.api.external.memory.android_hardware_buffer.*"]
renderer_check = "llvmpipe"

# Basic EGL test set
[[deqp]]
deqp = "/data/deqp/deqp-egl-android"
caselists = ["/data/deqp/egl-main.txt"]
deqp_args = [
    "--deqp-surface-width=256",
    "--deqp-surface-height=256",
    "--deqp-surface-type=pbuffer",
    "--deqp-gl-config-name=rgba8888d24s8ms0",
    "--deqp-visibility=hidden"
]
