# Copyright 2025 Google
# SPDX license identifier: MIT

BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
Cpp11BracedListStyle: false
IndentCaseLabels: false
